redirect gone /~chjones/medschool/core/ppp/05-viral-rashes-overview-2002.pdf
redirect gone /~chjones/atom.xml
redirect gone /~chjones/rss.xml
redirect gone /~chjones/sitemap.xml
redirect gone /~chjones/todo
redirect permanent /~chjones/extra/clippy_votes.png /~chjones/img/clippy_votes.png
redirect permanent /~chjones/extra/macmini.jpg /~chjones/img/macmini.jpg
redirect permanent /~chjones/medschool /~chjones/medicine/medschool
redirect permanent /~chjones/labels/ /~chjones/blogentries/labels-
redirect permanent /~chjones/uploaded_images /~chjones/img
redirect permanent /~chjones/logos/160.png /~chjones/img/logo-160.png
redirect permanent /~chjones/disclaimer /~chjones/blogentries/disclaimer
redirect permanent /~chjones/logo.png /~chjones/img/logo.png
redirect permanent /~chjones/logo /~chjones/img/logo.png
redirect seeother /~chjones/archives.html /~chjones/blogentries/
Redirect permanent /~chjones/links.html /~chjones/links/
Redirect permanent /~chjones/disclaimer.html /~chjones/disclaimer/
redirect permanent /~chjones/reviews /~chjones/threelinereviews
redirect permanent /~chjones/movies /~chjones/threelinereviews/movies
redirect seeother /~chjones/chjones.css /~chjones/stylesheet.css
redirect seeother /~chjones/aleph0.css /~chjones/stylesheet.css
redirect permanent /~chjones/bluecurve.css /~chjones/stylesheet.css
redirect seeother /~chjones/medschool/heme /~chjones/medschool
redirect seeother /~chjones/medicine/medschool/neuro /~chjones/medicine/medschool
redirect seeother /~chjones/medicine/medschool/heme /~chjones/medicine/medschool
redirectmatch permanent /~chjones/music/([^/]*)\.mp3$ /~chjones/music/acappella/$1.mp3
redirect seeother /~chjones/news http://www.aleph0.com/~chjones
redirectmatch seeother tsoulas@pathfinder.usc.edu /~chjones/
redirect permanent /~chjones/2003/04/ahh-summer.html /~chjones/blogentries/ahh-summer/
redirect permanent /~chjones/2003/04/i-should-be-happy-right.html /~chjones/blogentries/i-should-be-happy-right/
redirect permanent /~chjones/2003/04/life-is-good.html /~chjones/blogentries/life-is-good/
redirect permanent /~chjones/2003/05/am-i-disturbed.html /~chjones/blogentries/am-i-disturbed/
redirect permanent /~chjones/2003/05/i.html /~chjones/blogentries/i/
redirect permanent /~chjones/2003/05/open-source-to-rescue.html /~chjones/blogentries/open-source-to-rescue/
redirect permanent /~chjones/2003/06/dammit.html /~chjones/blogentries/dammit/
redirect permanent /~chjones/2003/06/just-checking-in.html /~chjones/blogentries/just-checking-in/
redirect permanent /~chjones/2003/07/danger.html /~chjones/blogentries/danger/
redirect permanent /~chjones/2003/07/new-address.html /~chjones/blogentries/new-address/
redirect permanent /~chjones/2003/07/okay-so-i-was-wrong.html /~chjones/blogentries/okay-so-i-was-wrong/
redirect permanent /~chjones/2003/07/on-road.html /~chjones/blogentries/on-road/
redirect permanent /~chjones/2003/07/rxvt-patch.html /~chjones/blogentries/rxvt-patch/
redirect permanent /~chjones/2003/07/still-packing.html /~chjones/blogentries/still-packing/
redirect permanent /~chjones/2003/07/terminator-for-presidentgoverner.html /~chjones/blogentries/terminator-for-presidentgoverner/
redirect permanent /~chjones/2003/07/woohoo.html /~chjones/blogentries/woohoo/
redirect permanent /~chjones/2003/08/almost-there.html /~chjones/blogentries/almost-there/
redirect permanent /~chjones/2003/08/first-day.html /~chjones/blogentries/first-day/
redirect permanent /~chjones/2003/08/i-dont-know-man-that-sounds-like-lot.html /~chjones/blogentries/i-dont-know-man-that-sounds-like-lot/
redirect permanent /~chjones/2003/08/so-i.html /~chjones/blogentries/so-i/
redirect permanent /~chjones/2003/08/what-difference-day-makes.html /~chjones/blogentries/what-difference-day-makes/
redirect permanent /~chjones/2003/09/another-day-another-13336.html /~chjones/blogentries/another-day-another-13336/
redirect permanent /~chjones/2003/09/back-on-wagon.html /~chjones/blogentries/back-on-wagon/
redirect permanent /~chjones/2003/09/mplayer-for-windows.html /~chjones/blogentries/mplayer-for-windows/
redirect permanent /~chjones/2003/09/no-more-spam-in-california.html /~chjones/blogentries/no-more-spam-in-california/
redirect permanent /~chjones/2003/09/sbc-rocks.html /~chjones/blogentries/sbc-rocks/
redirect permanent /~chjones/2003/09/so-i.html /~chjones/blogentries/so-i-1/
redirect permanent /~chjones/2003/09/surgery.html /~chjones/blogentries/surgery/
redirect permanent /~chjones/2003/09/that.html /~chjones/blogentries/that/
redirect permanent /~chjones/2003/09/yay-microanatomy.html /~chjones/blogentries/yay-microanatomy/
redirect permanent /~chjones/2003/10/halfway-through-exam-week.html /~chjones/blogentries/halfway-through-exam-week/
redirect permanent /~chjones/2003/10/halloween-rejuvenation.html /~chjones/blogentries/halloween-rejuvenation/
redirect permanent /~chjones/2003/10/im-annoyed.html /~chjones/blogentries/im-annoyed/
redirect permanent /~chjones/2003/10/rejuvenated-interest.html /~chjones/blogentries/rejuvenated-interest/
redirect permanent /~chjones/2003/11/aleph-0-computing-project.html /~chjones/blogentries/aleph-0-computing-project/
redirect permanent /~chjones/2003/11/trauma.html /~chjones/blogentries/trauma/
redirect permanent /~chjones/2003/11/way-too-busy.html /~chjones/blogentries/way-too-busy/
redirect permanent /~chjones/2003/12/another-one-bites-dust.html /~chjones/blogentries/another-one-bites-dust/
redirect permanent /~chjones/2003/12/infinit-gnulinux-01.html /~chjones/blogentries/infinit-gnulinux-01/
redirect permanent /~chjones/2003/12/infinit-gnulinux-011.html /~chjones/blogentries/infinit-gnulinux-011/
redirect permanent /~chjones/2004/01/big-fish.html /~chjones/blogentries/big-fish/
redirect permanent /~chjones/2004/01/could-be-worse.html /~chjones/blogentries/could-be-worse/
redirect permanent /~chjones/2004/02/greed-is-good.html /~chjones/blogentries/greed-is-good/
redirect permanent /~chjones/2004/03/computer-woes-woo-hoos.html /~chjones/blogentries/computer-woes-woo-hoos/
redirect permanent /~chjones/2004/03/haven.html /~chjones/blogentries/haven/
redirect permanent /~chjones/2004/03/it.html /~chjones/blogentries/it/
redirect permanent /~chjones/2004/03/lots-of-stress.html /~chjones/blogentries/lots-of-stress/
redirect permanent /~chjones/2004/03/more-on-cobind.html /~chjones/blogentries/more-on-cobind/
redirect permanent /~chjones/2004/03/packard-bell-working-well.html /~chjones/blogentries/packard-bell-working-well/
redirect permanent /~chjones/2004/03/vacation-in-florida.html /~chjones/blogentries/vacation-in-florida/
redirect permanent /~chjones/2004/03/working-hard.html /~chjones/blogentries/working-hard/
redirect permanent /~chjones/2004/04/done-with-neuro.html /~chjones/blogentries/done-with-neuro/
redirect permanent /~chjones/2004/04/happy-04-04-04.html /~chjones/blogentries/happy-04-04-04/
redirect permanent /~chjones/2004/05/binbash.html /~chjones/blogentries/binbash/
redirect permanent /~chjones/2004/05/just-checking-in.html /~chjones/blogentries/just-checking-in-1/
redirect permanent /~chjones/2004/05/one-down.html /~chjones/blogentries/one-down/
redirect permanent /~chjones/2004/06/being-sick.html /~chjones/blogentries/being-sick/
redirect permanent /~chjones/2004/06/hell-of-first-day-back.html /~chjones/blogentries/hell-of-first-day-back/
redirect permanent /~chjones/2004/06/so-much.html /~chjones/blogentries/so-much/
redirect permanent /~chjones/2004/07/almost-done.html /~chjones/blogentries/almost-done/
redirect permanent /~chjones/2004/07/not-much-new.html /~chjones/blogentries/not-much-new/
redirect permanent /~chjones/2004/07/sbc.html /~chjones/blogentries/sbc/
redirect permanent /~chjones/2004/07/so-much-to-do.html /~chjones/blogentries/so-much-to-do/
redirect permanent /~chjones/2004/08/busy-day.html /~chjones/blogentries/busy-day/
redirect permanent /~chjones/2004/08/collateral.html /~chjones/blogentries/collateral/
redirect permanent /~chjones/2004/08/first-day-of-school.html /~chjones/blogentries/first-day-of-school/
redirect permanent /~chjones/2004/08/icm-changes.html /~chjones/blogentries/icm-changes/
redirect permanent /~chjones/2004/08/lindsey-mom-and-stepdad.html /~chjones/blogentries/lindsey-mom-and-stepdad/
redirect permanent /~chjones/2004/08/second-day.html /~chjones/blogentries/second-day/
redirect permanent /~chjones/2005/06/brief-update.html /~chjones/blogentries/brief-update/
redirect permanent /~chjones/2005/07/more-power.html /~chjones/blogentries/more-power/
redirect permanent /~chjones/2005/07/on-hiatus.html /~chjones/blogentries/on-hiatus/
redirect permanent /~chjones/2005/08/internal-medicine.html /~chjones/blogentries/internal-medicine/
redirect permanent /~chjones/2005/08/rumors-of-my-departure-have-been.html /~chjones/blogentries/rumors-of-my-departure-have-been/
redirect permanent /~chjones/2005/09/bush-happy-with-rita-photo-ops.html /~chjones/blogentries/bush-happy-with-rita-photo-ops/
redirect permanent /~chjones/2005/09/ive-survived-medicine.html /~chjones/blogentries/ive-survived-medicine/
redirect permanent /~chjones/2005/10/24-hours-going-strong.html /~chjones/blogentries/24-hours-going-strong/
redirect permanent /~chjones/2005/10/back-on-nights.html /~chjones/blogentries/back-on-nights/
redirect permanent /~chjones/2005/10/blogger-update.html /~chjones/blogentries/blogger-update/
redirect permanent /~chjones/2005/10/finishing-gyn.html /~chjones/blogentries/finishing-gyn/
redirect permanent /~chjones/2005/10/flying-spaghetti-monster.html /~chjones/blogentries/flying-spaghetti-monster/
redirect permanent /~chjones/2005/10/gyn-surgery.html /~chjones/blogentries/gyn-surgery/
redirect permanent /~chjones/2005/10/night-shift.html /~chjones/blogentries/night-shift/
redirect permanent /~chjones/2005/10/now-using-blogger.html /~chjones/blogentries/now-using-blogger/
redirect permanent /~chjones/2005/11/cut-off-their-thumbs.html /~chjones/blogentries/cut-off-their-thumbs/
redirect permanent /~chjones/2005/11/im-getting-powerbook.html /~chjones/blogentries/im-getting-powerbook/
redirect permanent /~chjones/2005/11/making-offense.html /~chjones/blogentries/making-offense/
redirect permanent /~chjones/2005/11/veterans-day.html /~chjones/blogentries/veterans-day/
redirect permanent /~chjones/2005/11/worst-haircut-ever.html /~chjones/blogentries/worst-haircut-ever/
redirect permanent /~chjones/2005/12/disclaimer.html /~chjones/blogentries/disclaimer/
redirect permanent /~chjones/2005/12/image-editing-for-macs.html /~chjones/blogentries/image-editing-for-macs/
redirect permanent /~chjones/2005/12/links.html /~chjones/blogentries/links/
redirect permanent /~chjones/2005/12/still-going.html /~chjones/blogentries/still-going/
redirect permanent /~chjones/2005/12/vacation.html /~chjones/blogentries/vacation/
redirect permanent /~chjones/2006/01/anniversary.html /~chjones/blogentries/anniversary/
redirect permanent /~chjones/2006/01/happy-new-year.html /~chjones/blogentries/happy-new-year/
redirect permanent /~chjones/2006/01/movie-review-producers.html /~chjones/blogentries/movie-review-producers/
redirect permanent /~chjones/2006/01/resolutions-delayed.html /~chjones/blogentries/resolutions-delayed/
redirect permanent /~chjones/2006/01/so-far-so-good.html /~chjones/blogentries/so-far-so-good/
redirect permanent /~chjones/2006/01/stealing-cable.html /~chjones/blogentries/stealing-cable/
redirect permanent /~chjones/2006/01/trying-out-dashblog.html /~chjones/blogentries/trying-out-dashblog/
redirect permanent /~chjones/2006/01/why-do-people-keep-asking-me-that.html /~chjones/blogentries/why-do-people-keep-asking-me-that/
redirect permanent /~chjones/2006/02/blogger-dashboard-widget.html /~chjones/blogentries/blogger-dashboard-widget/
redirect permanent /~chjones/2006/02/here-comes-surgery.html /~chjones/blogentries/here-comes-surgery/
redirect permanent /~chjones/2006/02/shaved-my-head.html /~chjones/blogentries/shaved-my-head/
redirect permanent /~chjones/2006/03/itunes.html /~chjones/blogentries/itunes/
redirect permanent /~chjones/2006/04/barenaked-ladies-against-dmca-drm-and.html /~chjones/blogentries/barenaked-ladies-against-dmca-drm-and/
redirect permanent /~chjones/2006/04/blogzot-20-subethaedit.html /~chjones/blogentries/blogzot-20-subethaedit/
redirect permanent /~chjones/2006/04/link-round-up.html /~chjones/blogentries/link-round-up/
redirect permanent /~chjones/2006/05/free-itunes-downloads.html /~chjones/blogentries/free-itunes-downloads/
redirect permanent /~chjones/2006/05/ipod-survival-gear.html /~chjones/blogentries/ipod-survival-gear/
redirect permanent /~chjones/2006/05/sign-eff-p2p-petition.html /~chjones/blogentries/sign-eff-p2p-petition/
redirect permanent /~chjones/2006/06/cultivating-my-online-presence.html /~chjones/blogentries/cultivating-my-online-presence/
redirect permanent /~chjones/2006/06/dell-inspiron-1100-for-sale.html /~chjones/blogentries/dell-inspiron-1100-for-sale/
redirect permanent /~chjones/2006/06/houdahspot-in-new-blogzot.html /~chjones/blogentries/houdahspot-in-new-blogzot/
redirect permanent /~chjones/2006/06/standard-logo.html /~chjones/blogentries/standard-logo/
redirect permanent /~chjones/2006/06/things-someone-figured-out.html /~chjones/blogentries/things-someone-figured-out/
redirect permanent /~chjones/2006/06/used-cd-trading-at-lalacom.html /~chjones/blogentries/used-cd-trading-at-lalacom/
redirect permanent /~chjones/2006/06/what-im-listening-to.html /~chjones/blogentries/what-im-listening-to/
redirect permanent /~chjones/2006/07/shutting-down.html /~chjones/blogentries/shutting-down/
redirect permanent /~chjones/2006/08/hallelujah.html /~chjones/blogentries/hallelujah/
redirect permanent /~chjones/2006/08/nsa-wiretapping-appeal-to-be-heard-by.html /~chjones/blogentries/nsa-wiretapping-appeal-to-be-heard-by/
redirect permanent /~chjones/2006/09/ahoy-me-mates-wenches.html /~chjones/blogentries/ahoy-me-mates-wenches/
redirect permanent /~chjones/2006/09/facebook-myspace-and-online.html /~chjones/blogentries/facebook-myspace-and-online/
redirect permanent /~chjones/2006/09/state-on-itunes.html /~chjones/blogentries/state-on-itunes/
redirect permanent /~chjones/2006/09/student-tips-tricks.html /~chjones/blogentries/student-tips-tricks/
redirect permanent /~chjones/2006/09/wheres-apple-retail-syndication.html /~chjones/blogentries/wheres-apple-retail-syndication/
redirect permanent /~chjones/2006/09/why-is-it-so-hard-to-pronounce.html /~chjones/blogentries/why-is-it-so-hard-to-pronounce/
redirect permanent /~chjones/2006/09/women-are-from-venus-men-don.html /~chjones/blogentries/women-are-from-venus-men-don/
redirect permanent /~chjones/2006/10/pirate-software-go-to-prison.html /~chjones/blogentries/pirate-software-go-to-prison/
redirect permanent /~chjones/2006/10/slashdot-feed.html /~chjones/blogentries/slashdot-feed/
redirect permanent /~chjones/2006/12/travel-trouble.html /~chjones/blogentries/travel-trouble/
redirect permanent /~chjones/2007/01/aw-crap.html /~chjones/blogentries/aw-crap/
redirect permanent /~chjones/2007/01/qotd.html /~chjones/blogentries/qotd/
redirect permanent /~chjones/2007/02/coolest-thing-ever.html /~chjones/blogentries/coolest-thing-ever/
redirect permanent /~chjones/2007/02/getting-connected.html /~chjones/blogentries/getting-connected/
redirect permanent /~chjones/2007/03/kc-baby.html /~chjones/blogentries/kc-baby/
redirect permanent /~chjones/2007/03/my-eyes-my-eyes.html /~chjones/blogentries/my-eyes-my-eyes/
redirect permanent /~chjones/2007/03/question-add-currently-playing-song-to.html /~chjones/blogentries/question-add-currently-playing-song-to/
redirect permanent /~chjones/2007/03/south-park-avatar.html /~chjones/blogentries/south-park-avatar/
redirect permanent /~chjones/2007/03/speakeasy-best-buy.html /~chjones/blogentries/speakeasy-best-buy/
redirect permanent /~chjones/2007/03/wacky-news.html /~chjones/blogentries/wacky-news/
redirect permanent /~chjones/2007/04/free-at-last.html /~chjones/blogentries/free-at-last/
redirect permanent /~chjones/2007/05/bill-gates-steve-jobs.html /~chjones/blogentries/bill-gates-steve-jobs/
redirect permanent /~chjones/2007/05/fake-steve-jobs-blowing-my-mind.html /~chjones/blogentries/fake-steve-jobs-blowing-my-mind/
redirect permanent /~chjones/2007/05/i-want-apple-tv.html /~chjones/blogentries/i-want-apple-tv/
redirect permanent /~chjones/2007/05/movie-mania.html /~chjones/blogentries/movie-mania/
redirect permanent /~chjones/2007/05/sarah-mclachlan.html /~chjones/blogentries/sarah-mclachlan/
redirect permanent /~chjones/2007/05/thats-right-im-surgeon.html /~chjones/blogentries/thats-right-im-surgeon/
redirect permanent /~chjones/2007/06/my-wii-has-come-in.html /~chjones/blogentries/my-wii-has-come-in/
redirect permanent /~chjones/2007/06/off-to-kc.html /~chjones/blogentries/off-to-kc/
redirect permanent /~chjones/2007/07/16-done.html /~chjones/blogentries/16-done/
redirect permanent /~chjones/2007/11/last-post.html /~chjones/blogentries/last-post/
redirect permanent /~chjones/img /~chjones/old/img
redirect permanent /~chjones/extra /~chjones/old/extra
redirectmatch seeother /~chjones/200[3-7] /~chjones/blogentries/
redirectmatch seeother ^/~chjones/archive(/|$) /~chjones/old/2007/
redirect seeother /~chjones/projects/ /~chjones/
redirect permanent /~chjones/index-old.html /~chjones/old/2007/
redirect permanent /~chjones/stylesheet.css /~chjones/old/2007/stylesheet.css
redirect permanent /~chjones/style.css /~chjones/old/2012/style.css
redirect permanent /~chjones/blogentries /~chjones/old/2007/blogentries
redirect permanent /~chjones/links /~chjones/old/2007/links
redirect permanent /~chjones/medicine /~chjones/old/2007/medicine
redirect permanent /~chjones/music /~chjones/old/2007/music
redirect permanent /~chjones/threelinereviews /~chjones/old/threelinereviews
redirect permanent /~chjones/writing/stars https://gist.github.com/therealchjones/d87121e6226d83ff7e0bb176d1a05248
redirect permanent /~chjones/writing /~chjones/old/2012/writing
Redirect permanent /~chjones/old/index.html /~chjones/old/2012/index.html
Redirect permanent /~chjones/old/2007/extra /~chjones/old/extra
Redirect permanent /~chjones/old/2007/img /~chjones/old/img
Redirect permanent /~chjones/old/2012/extra /~chjones/old/extra
Redirect permanent /~chjones/old/2012/img /~chjones/old/img
Redirect permanent /~chjones/old/img/logo.png "/~chjones/old/img/4 8 15 16 23 42 - Large-777734.png"
Redirect gone /~chjones/old/extra/fourniers-pics.zip
Redirect gone /~chjones/old/extra/resident-wiki.tar.gz
Redirect permanent /~chjones/old/2007/music/index.html /~chjones/old/2007/blogentries/what-im-listening-to/index.html
redirectmatch gone ^/~chjones/old/2007/medicine/medschool/copyrighted-junk.*$
redirect permanent /~chjones/old/2007/links/index.html /~chjones/old/2007/blogentries/links/index.html

RewriteEngine on
RewriteRule .git/ - [F]