* {margin-left:auto; margin-right:auto}

body {background-color:white; color:black; text-align:center}

#header {background-color: navy; color: white}

h1 {color:navy}

#headerlinks,#advancedlinks {padding:0; text-align:center}

#answerlinks >li,
#advancedlinks > li,
#headerlinks > li {display:inline; margin:1em; list-style-type:none; }

#advancedlinks,#answerlinks {display:none}

dt {display:none; margin-top:2em}

dd {display:none; margin-top:1em; text-indent:0; margin-left:0; color:red;}

*.visible {display:block}

img {display:block}
