body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: small;
}
a {
  color: silver;
  text-decoration: none;
}
a:visited {
  color: gray;
}
a:hover {
  color: yellow;
}
a:active {
  color: white;
}
#header {
  width: 60%;
  background-color: navy;
  background-image: url("http://www.aleph0.com/~chjones/img/blue-on-white-bottom-right.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  color: silver;
  margin: 0;
  padding: 0;
  padding-right: 21px;
  padding-bottom: 18px;
  font-style: italic;
}
h1 {
  font-size: 600%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
h2#disclaimer {
  font-size: 200%;
  font-weight: normal;
  text-align: right;
  margin: 0;
  margin-left: 50%;
  padding: 0;
}
#sidebar {
  margin: 0;
  padding: 0;
  width: 13em;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: navy;
  font-style: italic;
  background-image: url("http://www.aleph0.com/~chjones/img/blue-on-white-bottom-right.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  float: left;
  color: silver;
}
#sidebar h2 {
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#navigation {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#navigation ul {
  font-size: 150%;
  list-style-type: none;
  margin: 0;
  margin-right: 10px;
  margin-left: 20px;
  padding: 0;
}
#navigation li {
  text-indent: -10px;
}
#about {
  margin-left: 10px;
  margin-top: 1.5em;
}
#about p {
  font-size: 85%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}
#about a {
  text-decoration: underline;
}
#about a:visited {
  color: silver;
}
#content {
  line-height: 1.4em;
  padding: 0;
  padding-top: 18px;
  padding-left: 21px;
  margin: 0;
  margin-left: 13em;
  background-image: url("http://www.aleph0.com/~chjones/img/white-on-blue-top-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.post {
  margin-left: 5%;
  margin-right: 10%;
  border: 1px solid navy; 
  margin-top: 10px;
  margin-bottom: 1.5em;
  padding: 0;
  padding-bottom: 10px;
}
h2.post-title {
  background-color: silver;
  margin: 0;
  padding-top: 0.25ex;
  padding-bottom: 0.25ex;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  font-weight: normal;
  font-size: 150%;
}
.post-title a {
  color: navy;
}
.post-title a:visited {
  color: black;
}
.post-title a:hover {
  color: blue;
}
.post-title a:active {
  color: blue
}
.post-body {
  margin-left: 10px;
  margin-right: 10px;
}
.post-body a {
  color: navy;
  text-decoration: underline;
}
.post-body a:visited {
  color: black;
}
.post-body a:hover {
  color: blue;
}
.post-body a:active {
  color: blue;
}
.post-body img {
  display: block;
  border: none;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.post p {
  margin: 0;
  margin-top: 1em;
}
.post .copyright {
  font-size: 85%;
  font-style: italic;
}
p.post-byline,p.post-edited {
  font-size: 85%;
  font-style: italic;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0.5em;
}
p.post-edited {
  margin-bottom: 0;
  margin-top: 0.5em;
}
#footer {
  clear: both;
  width: 60%;
  font-size: 85%;
  float: right;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  padding-top: 2px;
  font-style: italic;
  background-color: navy;
  color: silver;
  background-image: url("http://www.aleph0.com/~chjones/img/blue-on-white-top-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
#footer a {
  text-decoration: underline;
  color: silver;
}
#footer a:hover {
  color: yellow;
}
#footer h2 {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-bottom: 1em;
}
#footer img {
  border: none;
  vertical-align: text-top;
}
#footer p {
  margin: 0;
  padding: 0;
  margin-left: 120px;
  margin-right: 10px;
  margin-bottom: 1.5em;
}
.quick-edit-icon { margin: 0; }
.item-control { margin: 0; }
.longtitle { font-style: italic; }
.shorttitle:before { content: open-quote; }
.shorttitle:after { content: close-quote; }
.attrib { padding-left: 50%; margin-top:0; padding-top:0; }
.blogger-labels { font-size: smaller; text-align: right; font-style: italic; }
.post-body dt { margin-top:1ex; }
.post-body dd { text-indent:1em; margin-bottom:1ex;}
